		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="{$FRAMEWORK.http_dir}/files/templates/assets/js/bootstrap.min.js"></script>
		<script src="{$FRAMEWORK.http_dir}/files/templates/assets/third/knob/jquery.knob.js"></script>
		<script src="{$FRAMEWORK.http_dir}/files/templates/assets/third/slimscroll/jquery.slimscroll.min.js"></script>
		<script src="{$FRAMEWORK.http_dir}/files/templates/assets/third/nifty-modal/js/classie.js"></script>
		<script src="{$FRAMEWORK.http_dir}/files/templates/assets/third/nifty-modal/js/modalEffects.js"></script>
		<script src="{$FRAMEWORK.http_dir}/files/templates/assets/third/sortable/sortable.min.js"></script>
		<script src="{$FRAMEWORK.http_dir}/files/templates/assets/third/select/bootstrap-select.min.js"></script>
		<script src="{$FRAMEWORK.http_dir}/files/templates/assets/third/summernote/summernote.js"></script>
		<script src="{$FRAMEWORK.http_dir}/files/templates/assets/third/magnific-popup/jquery.magnific-popup.min.js"></script> 
		<script src="{$FRAMEWORK.http_dir}/files/templates/assets/third/pace/pace.min.js"></script>
		<script src="{$FRAMEWORK.http_dir}/files/templates/assets/third/input/bootstrap.file-input.js"></script>
		<script src="{$FRAMEWORK.http_dir}/files/templates/assets/third/datepicker/js/bootstrap-datepicker.js"></script>
		<script src="{$FRAMEWORK.http_dir}/files/templates/assets/third/icheck/icheck.min.js"></script>
		<script src="{$FRAMEWORK.http_dir}/files/templates/assets/third/wizard/jquery.snippet.min.js"></script>
		<script src="{$FRAMEWORK.http_dir}/files/templates/assets/third/wizard/jquery.easyWizard.js"></script>
		<script src="{$FRAMEWORK.http_dir}/files/templates/assets/third/wizard/scripts.js"></script>
		<script src="{$FRAMEWORK.http_dir}/files/templates/assets/js/lanceng.js"></script>	
		<script src="{$FRAMEWORK.http_dir}/files/js/lib.js?{$DATA.CONFIG.release}"></script>
		<script src="{$FRAMEWORK.http_dir}/files/templates/js/index.js?{$DATA.CONFIG.release}"></script>
		<script>lib.log('{error}');</script>
		{include file='metrika.html'}
	</body>
</html>