{assign var="statistic_url" value="/direct/statistic/analize/"}{assign var="statistic_name" value="Ставки"}
{if empty($DATA.PARAM.company)}
				<div class="box-info animated fadeInDown">
					<h2><strong>Аналитика кликов</strong></h2>
					{include file='statistic_price_filter.html'}
				</div>
{else}
			
				<div class="box-info full">
					<h2><strong>Аналитика кликов</strong></h2>
						{include file='statistic_price_filter.html'}
					<form class="save" action="/direct/save/phrase/">	
					<div class="table-responsive">
						<table data-sortable class="table table-hover table-striped">
							<thead>
								<tr>
									<th>Наименование</th>
									<th>Показы</th>
									<th class="color_blue">Клики</th>
									<th class="color_green">CTR</th>
									<th class="color_green">Расход</th>
									<th class="color_yellow">Показы (среднее)</th>
									<th class="color_yellow">Клики (среднее)</th>
									<th class="color_blue">CTR (среднее)</th>
									<th class="color_yellow">Расход (среднее)</th>
									<th class="color_yellow">Цена клика (среднее)</th>
								</tr>
							</thead>
							
							<tbody>
								{foreach from=$DATA.ANALIZE.ELEMENT item=ELEMENT}
								<tr>
									<td>
									<A href="{$FRAMEWORK.http_dir}/direct/statistic/index/param/phrase/{$ELEMENT.phrase}/date_start/{$DATA.PARAM.date_start}/date_end/{$DATA.PARAM.date_end}/" title="График">{$ELEMENT.name}
									</td>
									<td class="color_blue">
									{$ELEMENT.show|round:2}
									</td>
									<td class="color_yellow">
									{$ELEMENT.click|round:2}
									</td>
									<td class="color_green">
									{$ELEMENT.ctr|round:2}
									</td>
									<td class="color_red">
									{$ELEMENT.sum|round:2}
									</td>
									<td class="color_blue">
									{$ELEMENT.show_avg|round:2}
									</td>
									<td class="color_yellow">
									{$ELEMENT.click_avg|round:2}
									</td>
									<td class="color_green">
									{$ELEMENT.ctr_avg|round:2}
									</td>
									<td class="color_red">
									{$ELEMENT.sum_avg|round:2}
									</td>
									<td class="color_red">
									{$ELEMENT.price|round:2}
									</td>
								</tr>
								{/foreach}
								<tr>
									<th>
									Среднее: {$DATA.ANALIZE.AVG.count}
									</th>
									<th>
									{$DATA.ANALIZE.AVG.show|round:2}
									</th>
									<th class="color_blue">
									{$DATA.ANALIZE.AVG.click|round:2}
									</th>
									<th class="color_green">
									{$DATA.ANALIZE.AVG.ctr|round:2}
									</th>
									<th class="color_green">
									{$DATA.ANALIZE.AVG.sum|round:2}
									</th>
									<th class="color_yellow">
									{$DATA.ANALIZE.AVG.show_avg|round:2}
									</th>
									<th class="color_yellow">
									{$DATA.ANALIZE.AVG.click_avg|round:2}
									</th>
									<th class="color_blue">
									{$DATA.ANALIZE.AVG.ctr_avg|round:2}
									</th>
									<th class="color_yellow">
									{$DATA.ANALIZE.AVG.sum_avg|round:2}
									</th>
									<th class="color_yellow">
									{$DATA.ANALIZE.AVG.price|round:2}
									</th>
								</tr>
							</tbody>
						</table>
						
					</div></form>
					{if !empty($DATA.ANALIZE.PAGE.pages) AND $DATA.ANALIZE.PAGE.pages>1}	
					<div class="data-table-toolbar">
						<ul class="pagination">
						  <li{if $DATA.ANALIZE.PAGE.page==$DATA.ANALIZE.PAGE.first} class="disabled"{/if}><a href="{$FRAMEWORK.http_dir}/direct/statistic/clicks/param/{if !empty($DATA.PARAM.user)}user/{$DATA.PARAM.user}/{/if}{if !empty($DATA.PARAM.company)}company/{$DATA.PARAM.company}/{/if}{if !empty($DATA.PARAM.banner)}banner/{$DATA.PARAM.banner}/{/if}{if !empty($DATA.PARAM.phrase)}phrase/{$DATA.PARAM.phrase}/{/if}{if !empty($DATA.PARAM.date_start)}date_start/{$DATA.PARAM.date_start}/{/if}{if !empty($DATA.PARAM.number)}number/{$DATA.PARAM.number}/{/if}page/{$DATA.ANALIZE.PAGE.first}/">&laquo;</a></li>
						  {section name=page start=0 loop=$DATA.ANALIZE.PAGE.pages}
						  <li{if $DATA.ANALIZE.PAGE.current==$smarty.section.page.iteration} class="active"{/if}><a href="{$FRAMEWORK.http_dir}/direct/statistic/clicks/param/{if !empty($DATA.PARAM.user)}user/{$DATA.PARAM.user}/{/if}{if !empty($DATA.PARAM.company)}company/{$DATA.PARAM.company}/{/if}{if !empty($DATA.PARAM.banner)}banner/{$DATA.PARAM.banner}/{/if}{if !empty($DATA.PARAM.phrase)}phrase/{$DATA.PARAM.phrase}/{/if}{if !empty($DATA.PARAM.date_start)}date_start/{$DATA.PARAM.date_start}/{/if}{if !empty($DATA.PARAM.number)}number/{$DATA.PARAM.number}/{/if}page/{$smarty.section.page.index}/">{$smarty.section.page.iteration}</a></li>
						  {/section}
						  <li{if $DATA.ANALIZE.PAGE.page==$DATA.ANALIZE.PAGE.last} class="disabled"{/if}><a href="{$FRAMEWORK.http_dir}/direct/statistic/clicks/param/{if !empty($DATA.PARAM.user)}user/{$DATA.PARAM.user}/{/if}{if !empty($DATA.PARAM.company)}company/{$DATA.PARAM.company}/{/if}{if !empty($DATA.PARAM.banner)}banner/{$DATA.PARAM.banner}/{/if}{if !empty($DATA.PARAM.phrase)}phrase/{$DATA.PARAM.phrase}/{/if}{if !empty($DATA.PARAM.date_start)}date_start/{$DATA.PARAM.date_start}/{/if}{if !empty($DATA.PARAM.number)}number/{$DATA.PARAM.number}/{/if}page/{$DATA.ANALIZE.PAGE.last}/">&raquo;</a></li>
						</ul>
					</div>
					{/if}
				</div>
{/if}						