<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Импортированное правило 1" stopProcessing="true">
                    <match url="^index\.php$" ignoreCase="false" />
                    <action type="None" />
                </rule>
                <rule name="Импортированное правило 2" stopProcessing="true">
                    <match url="^cron\.php$" ignoreCase="false" />
                    <action type="None" />
                </rule>
                <rule name="Импортированное правило 3">
                    <match url="^.htaccess$" ignoreCase="false" />
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
                </rule>
                <rule name="Импортированное правило 4" stopProcessing="true">
                    <match url="^files/" ignoreCase="false" />
                    <action type="None" />
                </rule>
                <rule name="Импортированное правило 5">
                    <match url="^(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
